* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  overflow: hidden;
}
.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  padding: 10px 0;
  background: black;
  color: #fff;
}
nav * {
  color: #fff;
  font-size: 1.2rem;
}
nav {
  display: flex;
  gap: 1rem;
}
.bg {
  background-image: url("https://cdn11.bigcommerce.com/s-x49po/images/stencil/1500x1500/products/89261/250190/1668761438311_AAG_000085_A__74851.1687001437.jpg?c=2");
  width: 100vw;
  height: 100vh;
}

.loader {
  background-color: black;
  color: white;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
